<%= render 'main_banner' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'featured_collection' %>
    <%= render 'featured_products' %>
  </div>
</section>

<%= render 'shared/partners' %>
<%= render 'layouts/quick_modal'%>
